<?php
//TODO: This needs to be moved out to the Application layer and possibly just set on the PHP include_path
$ZF2_PATH = "/var/www/tersus/lib/ZF2/library";
putenv("ZF2_PATH={$ZF2_PATH}");
return array(
	'modules' => array(
		'Common'
	),
	'module_listener_options' => array(
		'config_glob_paths'    => array(
			'../../../config/autoload/{,*.}{global,local}.php',
			'../../../config/autoload/{,*.}{global,local}.ini'
		),
		'module_paths' => array(
			'module',
//			'vendor'
		)
	)
);